{{- $disableImageOptimization := .Page.Site.Params.disableImageOptimization |
default false }} {{- $url := urls.Parse .Destination }} {{- $altText := .Text }}
{{- $caption := .Title }} {{- if findRE "^https?" $url.Scheme }}
<figure>
  <img
    class="my-0 rounded-md"
    loading="lazy"
    src="{{ $url.String }}"
    alt="{{ $altText }}"
  />
  {{ with $caption }}
  <figcaption>{{ . | markdownify }}</figcaption>
  {{ end }}
</figure>
{{- else }} {{- $resource := "" }} {{- if $.Page.Resources.GetMatch
($url.String) }} {{- $resource = $.Page.Resources.GetMatch ($url.String) }} {{-
else if resources.GetMatch ($url.String) }} {{- $resource = resources.Get
($url.String) }} {{- end }} {{- with $resource }}

<style>
  .image-found-dark {
    display: none;
  }
  .image-found-light {
    display: block;
  }
  .dark .image-found-dark {
    display: block;
  }
  .dark .image-found-light {
    display: none;
  }
  .dark .image-dark {
    display: block;
    filter: invert(1) hue-rotate(180deg);
  }
</style>

{{- $darkPath := replaceRE "(?i)(\\.[^./]+)$" "-dark$1" .Name }} {{- $darkRes :=
$.Page.Resources.GetMatch $darkPath }}

<figure>
  {{- if $darkRes }}
  <img
    src="{{ .RelPermalink }}"
    class="my-0 rounded-md image-found-light"
    alt="{{ $altText }}"
    loading="lazy"
    {{
    with
    $caption
    }}title="{{ . }}"
    {{
    end
    }}
  />
  <img
    src="{{ $darkRes.RelPermalink }}"
    class="my-0 rounded-md image-found-dark"
    alt="{{ $altText }}"
    loading="lazy"
    {{
    with
    $caption
    }}title="{{ . }}"
    {{
    end
    }}
  />
  {{- else }}
  <img
    src="{{ .RelPermalink }}"
    class="my-0 rounded-md image-dark"
    alt="{{ $altText }}"
    loading="lazy"
    {{
    with
    $caption
    }}title="{{ . }}"
    {{
    end
    }}
  />
  {{- end }} {{ with $caption }}
  <figcaption>{{ . | markdownify }}</figcaption>
  {{ end }}
</figure>

{{- else }}
<figure>
  <img
    class="my-0 rounded-md"
    loading="lazy"
    src="{{ $url.String }}"
    alt="{{ $altText }}"
  />
  {{ with $caption }}
  <figcaption>{{ . | markdownify }}</figcaption>
  {{ end }}
</figure>
{{- end }} {{- end }}
